
/* best image size at least or so: 6016px x 4016px */

body {
    background-image: url("/images-3/15-wide-4.jpg");
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: 100% 100%; */
    background-size: cover;
    background-color: gray;
    /* overflow: hidden;   */
}

h1, h2, h3 {
    color: #F7F9FB; 
    text-align: center;
    font-weight: lighter;
}

h1 {
    font-size: 96px;  
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

p {
    color: #F7F9FB;
}

.dev-info {
    margin-top: 350px;
}

.btn-branding {
    border: 1px solid #8E8268;
    background-color: #8E8268;
    color: #F7F9FB;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 20px;
}

.about-section h2 {
    color: #F7F9FB;
    font-size: 35px;
    display: block;
    margin-top: 90px;
    margin-bottom: 50px;
}

.about-section p {
    display: block;
    font-size: 17px;
    text-align: center;
    margin: 25 auto;
    padding: 0 150px 0 150px;
    /* background: rgba(0, 0, 0, 0.9) */
    /* background: lightgrey; */
}

.transparent-field {
    /* background-color: #ffffff;
    opacity: 0.6; */
    background: rgba(23, 41, 29, 0.6);
}


.projects h1 {
    font-size: 35px;
    margin-top: 75px;
    display: block; 
}

.projects h3 {
    font-weight: 500;
    margin-bottom: 0;
}

.projects p {
    text-align: center;
    margin-bottom: 3px;
}

.project-description .btn-branding {
    font-size: 14px;
    margin-top: 10px;
    padding: 5px;
}

.project-description h3 p {
    color: #F7F9FB;
}


/* .project-description {
    background-color:rgb(36, 35, 35);
} */

.container-icons {
    background: black;
}

hr {
    color: gray;
}

.certifications p {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: larger;
}

.transparent {
    background-color: #ffffff;
    opacity: 0.5;
    /* background: rgba(0, 0, 0, 0.9) */
}


.footer-home {
    position: fixed;
    padding-bottom: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    /* padding-left: 75px; */
    /* margin-left: 1550px; */

    /* opacity: 0.1; */
    /* color: black; */
}

.footer-home a {
    text-decoration: none;
}

.footer-home-text {
    /* color: white; */
    /* color: rgb(255, 251, 2); */
    color:rgb(170, 252, 7);
    padding: 0px 4px 10px 15px;
   background-color: rgba(23, 41, 29, 0.5);
   display: inline;
}

.footer-home .photo-credit {
    font-style: italic;
    margin-top: 5px;
}

.black-text {
    /* color: rgba(0, 0, 0, 1); */
    /* color: rgba(128, 128, 128, 1); */
    color: rgb(22, 20, 20, 1);
}




/* depending upon background image */
.hyperlink-line {
    /* color: rgb(209, 209, 209); */
    /* color: rgb(208, 253, 8); */
    color: yellow;

}

.hyperlink-line:hover {
    color: greenyellow;
}

.contact-container h2 {
    font-size: 55px;
    margin-top: 650px;
}


.social-icons i {
   color: #F7F9FB;
   font-size: 25px;
}

/* footer {
    background: rgba(23, 41, 29, 0.6);
} */

footer .email-link {
    text-decoration: none;
    color: whitesmoke;
    font-size: 24px;
    text-align: center;
}

footer .email-link:hover {
    color: yellow;
    
}

footer .social-links a  {
    margin: 0 20px;
    color: whitesmoke;
    background: rgb(170, 252, 7);
    border-radius: 50%;
    padding: 10px 14px;
    /* width: 18px;
    height: 21px; */
    font-size: 18px;
    text-align: center;
}


@media (max-width: 960px) {
    .dev-info {
        margin-top: 235px;
    }

    .dev-info h1 {
        line-height: 1;
        font-size: 95px;
        /* margin-top: 75px; */
    }



    /* .footer-home {
        background-color: rgba(155, 155, 155, 0.6)
 
    } */

    .footer-home-text {
        font-size: 13px;
    }

    .black-text {
        color: rgba(0, 0, 0, 1);    
    }

    .about-section p {
        text-align: center;
        padding: 0;   
    }

    .certifications {
        text-align: center;
    }
 
}







/* @media only screen and (min-device-width: 400px) {
    body {
        background-image: url("/images/woman-1851464_1920.jpg");
    }
} */

/* @media (max-width: 376px) {
    body {
        background-repeat: no-repeat;
    }
} */


/* body, html {
    margin: 0;
    height: 100%;
    overflow:hidden;
    
}

.bg-container {
    width: 100%;
    height: 100%;
    border: 5px solid gray;
    box-sizing: border-box;
 
}

@media () */









